@import url('reset.css');

.icon-password.view {
    display: inline-block;
}

.icon-password {
    display: none;
}

form {
    display: flex;
    align-items: flex-start;
}

#error {
    margin: 0 20px;
}

.btn {
    background: #4c954a;
    padding: 4px 7px;
    border-radius: 2px;
    font-size: 11px;
}